body {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.picker {
    border: solid 1px #AAA;
    overflow:auto;
    position:absolute;
    background:#FFF;
    z-index:999;
}
    .picker thead {
        background-color: #F4F7FA;
    }
    .picker th{
        color: #4B4B4B;
        padding: 6px;
        font-size: 10px;
    }
        .picker .month-title{
            font-size: 13px;
        }

    .picker .startCalendar {
        position: relative;
        border-right: solid 1px #CCC;
        display: table-cell;
    }
    .picker .endCalendar {
        position: relative;
        display: table-cell;
    }

.picker .calendar-wrapper{
    display: table;
}
    .picker .calendar-wrapper-inner{
        display: table-row;
    }

.picker td.day {
    font-size: 13px;
    text-align:center;
    cursor: pointer;
    padding: 6px;
}
    .picker td.day.selected{
        background-color:#8D949C;
        color:#FFF;
    }
        .picker td.day.selected .marker{
            font-size: 10px;
        }
.picker td.inRange{
    background-color:#F0F0F2;
}
.picker td.grey{
    color: #CCC;
}
.picker input.utcOffset {
    width: 16px;
}

.picker .presets-wrapper {
    display:table;
    overflow: auto;
    width:100%;
    border-bottom: solid 1px #CCC;
    padding: 10px 0;
}
.picker .presets {
    display: table-row;
    float:right;
}
    .picker .presets h1{
        display: table-cell;
        font-size: 13px;
        font-weight: normal;
        color:#B2B2B2;
        line-height: 20px;
        margin: 0;
        padding: 0 10px 0 0;
    }
    .picker .presets ul {
        display: table-cell;
        vertical-align: bottom;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .picker .presets li {
        float: left;
        font-size: 13px;
        color: #1F8DC4;
        padding:0 4px;
        cursor: pointer;
        text-decoration: none;
    }
        .picker .presets li:hover {
            text-decoration: underline;
        }

.picker .calendar-label{
    position: absolute;
    top:0;
    left:0;
    width: 30px;
    font-size: 10px;
    color: #FFF;
}
.picker .startCalendar .calendar-label{
    background-color: #6DB400;
}
.picker .endCalendar .calendar-label{
    background-color: #8D949C;
}
